body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }
  body #show-translation {
    margin: 0 auto;
    max-width: 992px; }
    body #show-translation .label {
      float: left;
      width: calc(100% - 230px); }
    body #show-translation input {
      float: right;
      line-height: 24px;
      margin: 20px 0;
      padding: 0 5px;
      width: 200px; }
  body #map path:hover {
    fill: #777777; }
